
<div class="container">
  <h2> JSON Server Datatable</h2>
  <div class="table">
    <div class="row" *ngFor="let user of users$ | async">
      <div class="col">{{user.username}}</div>
      <div class="col">{{user.password}}</div>
    </div>
  </div>
  
  <div>
    <h2>JSON Server New User</h2>
    <div class="table">
      <div class="row">
        <div class="col">
          <label for="newUsername"> New UserName: </label>
          <input id="newUsername" type="text" [formControl]="newUsername">
        </div>
        <div class="col">
          <label for="newPassword">New UserName: </label>
          <input id="newPassword" type="text" [formControl]="newPassword">
        </div>        
      </div>
      <div class="row">
        <button (click)="addUser()">Add User</button>
      </div>
    </div>
  </div>


</div>