<!-- Home/Landing Page -->
<div id="background">
    <div class="wrapper">
      <table>
        <tr>
          <td class="main_title">
            <div class="css-typing">
              <p style="height: 60px;">Book your Appointment,</p>
        
              <p style="height: 60px;">With BookMeIn!</p>
            </div>
          </td>
          <td class="pic" rowspan="2">
            <!-- Picture section -->
            <div id="pic_div">
              <img  height="450" width="450" src="assets/images/survey.jpg" id="Survey_image">
            </div>
          </td>
        </tr>

        <tr>
          <td class="sub_title">
            <h3>Welcome To BookMeIn</h3>
            <ul>
              <li>(1) Register / login your account</li>
              <li>(2) Book An Appointment </li>
              <li>(3) Join us!</li>
            </ul>
            <a routerLink="/login" class="btn btn-primary justify-content-center">
              Login here 
            </a>
          </td>
        </tr>
      </table>
    </div>
  </div>

