<!-- Home/Landing Page -->
<div id="background">
    <div class="wrapper">
      <table>
        <tr>
          <td class="main_title">
            <div class="css-typing">
              <p style="height: 60px;">Book your Appointment,</p>
        
              <p style="height: 60px;">With BookMeIn!</p>
            </div>
          </td>
          <td class="pic" rowspan="2">
            <!-- Picture section -->
            <div id="pic_div">
              <img  height="500" width="650" src="assets/images/book1.jpg" id="Booking_image">
            </div>
          </td>
        </tr>

        <tr>
          <td class="sub_title">
            <h3>Welcome To BookMeIn</h3>
            <ul>
              <li>(1) Register / login your account</li>
              <li>(2) Click Here to ! </li>
              <li>(3) Book An Appointment</li>
            </ul>
            
            <a routerLink="/Createbooking" class="btn btn-primary justify-content-center">
              Book Now 
            </a>
          </td>
        </tr>
      </table>
    </div>
  </div>

