<div class="container">
  <div class="row">
    <div class="col my-3 text-center">
      <h1>Firstname Lastname</h1>
    </div>
  </div>
  <div class="row">
    <div class="col my-3 text-center">
      <button mat-raised-button color="primary" (click)="logout()" routerLink="/home">Logout</button>
    </div>
  </div>
  <div *ngIf="authService.lacksRole(userRole.serviceProvider)" class="row">
    <div class="col my-3 text-center">
      <button
        mat-raised-button
        color="primary"
        [routerLink]="['/service-provider-register']"
      >
        Upgrade account
      </button>
    </div>
  </div>
</div>
<div *ngIf="authService.hasRole(userRole.serviceProvider)" class="container">
  <div class="row">
    <div class="col my-3 text-center">
      <h1>Your Organisation</h1>
    </div>
  </div>
  <div class="row">
    <div class="col my-3 text-center">
      <div *ngIf="authService.hasOrganization(); else create_organization">
        <button
          mat-raised-button
          color="primary"
          [routerLink]="['/organization']"
        >
          Edit Organization
        </button>
      </div>
      <ng-template #create_organization>
        <button
          mat-raised-button
          color="primary"
          [routerLink]="['/organization']"
        >
          Create Organization
        </button>
      </ng-template>
    </div>
  </div>
  <div class="row">
    <div class="col my-3 text-center">
      <button
        mat-raised-button
        color="primary" routerLink="/my-bookings"
      >
        View Bookings
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col my-3 text-center">
      <button mat-raised-button color="primary" [routerLink]="['/time-slots']">
        Edit Timeslots
      </button>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col my-3 text-center">
      <h1>Danger</h1>
    </div>
  </div>
  <div class="row">
    <div class="col my-3 text-center">
      <button (click)="logout()"    mat-raised-button color="warn" routerLink="/login">Delete Account</button>
    </div>
  </div>
</div>
