<ng-container [ngSwitch]="stepperOrientation | async">
  <form action="https://www.google.com/maps?" class="searchform" method="get" name="searchform" target="_blank">
    
    <input autocomplete="on" class="form-control search" name="q" placeholder="location" value="Search here"  type="text" >
  <br>
    <button class="button" type="submit">Search</button>
    </form>
  </ng-container>
  

  
    
 
  <mat-stepper class="example-stepper"  [orientation]="(stepperOrientation | async)!">
    <mat-step [stepControl]="firstFormGroup" label="Fill out your name">
      <form [formGroup]="firstFormGroup">
        <mat-form-field appearance="fill">
          <mat-label>Name</mat-label>
          <input matInput placeholder="Last name, First name" formControlName="firstCtrl" required>
        </mat-form-field>
        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup" label="Fill out your Date">
      <form [formGroup]="secondFormGroup">
        <mat-form-field appearance="fill">
          <mat-label>Date</mat-label>
          <input   matInput formControlName="endDate" [matDatepicker]="endPicker"placeholder="MM/DD/YYYY"
                 required>
                 <mat-datepicker-toggle
                 matIconSuffix
                 [for]="endPicker"
               ></mat-datepicker-toggle>
               <mat-datepicker #endPicker></mat-datepicker>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="thirdFormGroup" label="Fill out your TimeSlot">
      <form [formGroup]="thirdFormGroup">
        <mat-form-field appearance="fill">
          <mat-label>Time</mat-label>
          <input matInput formControlName="thirdCtrl" placeholder="Ex. 10:00,12:50" required>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel> Done </ng-template>
      <p><a  routerLink="/my-bookings"> View Your Booking</a></p>
      <div>
        <button mat-button matStepperPrevious>Back</button>
      </div>
    </mat-step>
  </mat-stepper>
