<div class="container">
    <div class="table">
        <div class="row" [formGroup]="form">
            <div class="col">
                <label for="username">Username:</label>
                <input id="username" type="text" formControlName="username">
            </div>
            <div class="col">
                <label for="password">Password:</label>
                <input id="password" type="text" formControlName="password">
            </div>
        </div>
        <div>
            <button (click)="login()">Login</button>
        </div>
    </div>
</div>
