<div class="container">
    <div class="table">
        <div class="row" [formGroup]="form">
            <div class="col">
                <label for="username">Username:</label>
                <input id="username" type="text" formControlName="username">
                <br>
                <br>
                <label for="password">Password :    </label>
                <input id="password" type="password" formControlName="password">
                <br>
                <br>
            </div>
            <button (click)="login()">Login</button>
        </div>
        <div>

        </div>
    </div>
</div>
