<div class="bg-black p-2 text-center text-white">
    <h3> BookMeIn Login</h3>
  </div>



  <main class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3 col-lg-6 offset-lg-3 col-sm-8 offset-sm-1">
         
          <br>
    
  <h1>Please Login Here,</h1>


 <div class="container">
    <div class="table">
        <div class="row" [formGroup]="form">
            <div class="col">
                <label for="username">Username:</label>
                <input id="username" type="text" formControlName="username">
                <br>
                <br>
                <label for="password">Password :    </label>
                <input id="password" type="password" formControlName="password">
                <br>
                <br>
            </div>
            <button (click)="login()">Login</button>
        </div>
        </div>
        </div>
        </div>
        </div>

        
    

 <span class="col col-lg-4 col-md-14 col-sm-14" id="img-wrap">
    <img src="assets/images/login.png" class="img" alt="loginPageImage" id="loginImg">
  </span>



</main>