<!--register a new user using form and post-->
<div class="container">

  <div class="table">
    <table>

      <div class="row" [formGroup]="form">

          <div class="col-auto" class="justify-content-end">

            <TR><TD><TD><label for="username">Username:</label></TD>

              <input id="username" type="text" formControlName="username">

              <br>

              <br>

              <TR><TD><TD><label for="email">Email:    </label></TD>

              <input id="email" type="email" formControlName="email">

              <br>

              <br>

              <TR><TD><TD><label for="password">Password :    </label></TD>

              <input id="password" type="password" formControlName="password">

              <br>

              <br>

              <TR><TD><TD><label for="passwordConfirm">Confirm Password :    </label></TD>

              <input id="passwordConfirm" type="password" formControlName="passwordConfirm">

              <br>

              <br>


          </div>

          <button (click)="Register()">Register</button>


      </div>
    </table>
      <div>
      </div>




