<div class="container">
  <div class="row">
    <div class="col my-4 d-flex">
      <h1>Firstname Lastname</h1>
    </div>
  </div>
  <div class="row">
    <div class="col my-4 d-flex">
      <button mat-raised-button color="primary">Logout</button>
    </div>
  </div>
  <div class="row">
    <div class="col my-4">
      <button mat-raised-button color="primary" [routerLink]="['/service-provider-register']">Upgrade account</button>
    </div>
  </div>
  <div class="row">
    <div class="col my-4">
      <button mat-raised-button color="danger">Delete Account</button>
    </div>
  </div>
</div>



